@*@{
    ViewData["Title"] = "Welcome User";
}*@
<h1>@ViewBag.UserName</h1>

@*<h1 class="display-4">Welcome</h1>

    <h2>login</h2>*@

@*@if (Session["log"] != null)
{
    <text>
        Welcome @Session["log"].ToString()
    </text>
}*@ 